/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  font-size: 62.5%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.container {
  flex-wrap: nowrap;
  font-family: "Roboto", sans-serif;
}
.container html,
.container body {
  height: 100%;
  width: 100%;
}
.container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/bg.jpg");
}
.container header nav {
  margin: 20px 0;
}
.container header nav a {
  margin: 5rem;
  text-decoration: none;
  color: white;
}
@media (max-width: 845px) {
  .container header nav a {
    margin: 2rem;
  }
}
@media (max-width: 500px) {
  .container header nav a {
    margin: 2rem;
  }
}
.container header nav a:hover {
  text-decoration: underline;
}
.container header h1 {
  font-size: 3rem;
  color: white;
  border: 2px solid white;
  padding: 10px;
  border-radius: 15px;
  margin: 0 0 10px 0;
}
.container header p {
  color: white;
  font-size: 1rem;
  margin: 10px;
}
.container .mainContent {
  display: flex;
  margin: 0 0 0 5%;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container .mainContent {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
.container .mainContent .leftContent {
  width: 60%;
}
@media (max-width: 500px) {
  .container .mainContent .leftContent {
    width: 100%;
    padding: 10px;
  }
}
.container .mainContent .leftContent h3 {
  margin: 1rem 0 1rem 0;
  font-size: 1.6rem;
  color: #4c5b96;
}
.container .mainContent .leftContent h4 {
  margin: 1rem 0 1rem 0;
  font-size: 1.2rem;
  color: #2c3351;
  text-decoration: underline;
}
.container .mainContent .leftContent ul {
  list-style-type: circle;
}
.container .mainContent .leftContent ul li {
  margin: 5px;
  margin-left: 20px;
}
.container .mainContent .rightContent {
  width: 40%;
  padding-left: 2%;
  background-color: lightgrey;
}
@media (max-width: 500px) {
  .container .mainContent .rightContent {
    width: 100%;
  }
}
.container .mainContent .rightContent h3 {
  margin: 1rem 0 1rem 0;
  font-size: 1.6rem;
  color: #4c5b96;
}
.container .mainContent .rightContent h4 {
  margin: 1rem 0 1rem 0;
  font-size: 1.2rem;
  color: #2c3351;
  text-decoration: underline;
}
.container .mainContent .rightContent ul {
  list-style-type: circle;
}
.container .mainContent .rightContent ul li {
  margin: 5px;
  margin-left: 20px;
}
.container .mainContent .rightContent .contact ul li {
  list-style-type: none;
  margin-bottom: 10px;
  margin-left: 0px;
}
.container .mainContent .rightContent .contact ul li i {
  margin: 5px;
}
